The answer is France
The answer is 10th and 11th centuries
The answer is Denmark, Iceland and Norway
The answer is Rollo
The answer is 10th century
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is William the Conqueror
The answer is Richard I
The answer is Catholic
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is Viking
The answer is 9th century
The answer is unknown.
The answer is unknown.
The answer is 911
The answer is King Charles III
The answer is Seine
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is Rollo
The answer is unknown.
The answer is unknown.
The answer is Catholicism
The answer is north
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is fighting horsemen
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is Seljuk Turks
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is 1050s
The answer is 1060s
The answer is Alexius Komnenos
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is Afranji
The answer is Oursel
The answer is Turkish forces
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is Norman mercenary
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is Robert Guiscard
The answer is 1082
The answer is 30,000
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is Deabolis
The answer is Bohemond
The answer is Deabolis
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is 1185
The answer is Dyrrachium
The answer is the Adriatic
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is King Ethelred II
The answer is Duke Richard II
The answer is Normandy
The answer is Sweyn Forkbeard
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is Harthacnut
The answer is 1041
The answer is Robert of Jumièges
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is Battle of Hastings
The answer is William II
The answer is 1066
The answer is Anglo-Saxons
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is Modern English
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is 1169
The answer is Ireland
The answer is Irish
The answer is unknown.
The answer is unknown.
The answer is unknown.
The answer is Edgar
The answer is King Malcolm III of Scotland
The answer is 1072
The answer is Duncan
The answer is unknown.
The answer is unknown.
The answer is unknown.
